<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>پروژه جاوا اسکریپت</title>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="js/dropdown-menu.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="js/slider.js"></script> -->
</head>

<body>
    

    <main>
        
        <div class="slideshow-container">

            <!-- <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="assets/images/Image1.jpg" style="width:100%">
                <div class="text"></div>
            </div> -->

            <!-- <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="assets/images/Image2.jpg" style="width:100%;height:150px">
                <div class="text"></div>
            </div> -->
            <div >
                <!-- <div class="numbertext">3 / 3</div> -->
                <img src="assets/images/NaftCompany.jpg" style="width:100%;height:250px">
                <div class="text"></div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <!-- <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div> -->
        <div class="container">
            <h4>صفحه اصلی</h4>
            <p>
                زبان برنامه‌نویسی تایپ اسکریپت چیست؟ چه تفاوتی با جاوا اسکریپت دارد؟ چه شباهت‌هایی بین تایپ اسکریپت و
                جاوا اسکریپت وجود دارد؟ کدام بهتر است و آیا توسعه‌دهنده سایت علاوه‌بر جاوا اسکریپت باید تایپ اسکریپت را
                هم یاد بگیرد؟
            </p>
            <h3>صفحه اصلی</h3>
            <p>
                مهم‌ترین تفاوت دو زبان برنامه‌نویسی تایپ اسکریپت و جاوا اسکریپت و دراقع دلیل ساخته‌شدن تایپ اسکریپت این
                بود که جاوا اسکریپت ،همیشه و در هر پروژه‌ای، برای توسعه‌ی بک اند یا سرور ساید به‌اندازه‌ی کافی خوب و
            </p>
        </div>
    </main>
    <!-- <script>
        currentSlide(1);
    </script> -->
        
</body>

</html>
