<div class="container">
    <h4>پنجره واحد خدمات وزارت نیرو چیست؟</h4>
    <p>
        این پنجره برای ارائه کلیه خدمات وزارت نیرو در یک درگاه واحد می باشد. کلیه متقاضیان خدمات وزارت نیرو اعم از آب،‌
        برق، آب و فاضلاب،‌ مجوزها و ... می توانند با ورود به این درگاه،‌ خدمت مورد نیاز خود را دریافت نمایند.
    </p>
    <h4>احراز هویت یکپارچه چیست؟</h4>
    <p>
        احراز هویت یکپارچه امکانی است که دولت فراهم نموده تا هر متقاضی با یک بار احراز هویت به کلیه خدمات دستگاه های
        دولتی دسترسی داشته باشد. متقاضی خدمات دولتی میتواند با ورود به آدرس my.gov.ir و ثبت اطلاعات شخصی خود و تایید
        هویت، خدمات مورد نیاز را از پایگاه های مربوطه دریافت نماید.
    </p>
</div>
