<div class="container">
    <h4>راهنما</h4>
    <p>
        زبان برنامه‌نویسی تایپ اسکریپت چیست؟ چه تفاوتی با جاوا اسکریپت دارد؟ چه شباهت‌هایی بین تایپ اسکریپت و
        جاوا اسکریپت وجود دارد؟ کدام بهتر است و آیا توسعه‌دهنده سایت علاوه‌بر جاوا اسکریپت باید تایپ اسکریپت را
        هم یاد بگیرد؟
    </p>
    <h4>راهنما</h4>
    <p>
        زبان برنامه‌نویسی تایپ اسکریپت چیست؟ چه تفاوتی با جاوا اسکریپت دارد؟ چه شباهت‌هایی بین تایپ اسکریپت و
        جاوا اسکریپت وجود دارد؟ کدام بهتر است و آیا توسعه‌دهنده سایت علاوه‌بر جاوا اسکریپت باید تایپ اسکریپت را
        هم یاد بگیرد؟
    </p>
</div>
